<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.sym.service.TeacherMapper">
<insert id="insert" parameterType="com.example.demo.sym.service.Teacher">
	insert into teachers (name, password, subject, profile_image) values (#{name}, #{password}, #{subject}, #{profileImage}) 
</insert>
<select id="access">
	select name, password, subject, profile_image profileImage from teachers where name like #{name}, password like #{password}
</select>
</mapper>